// Body
$body-bg: #17191D;
$content-bg: #1D252F;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$white: rgb(255, 255, 255);
$dark-blue: rgb(0,4,41);
$vio-blue: rgb(83, 89, 241);
$violet: rgb(49, 54, 139);
$lilac: #8b9cf4;
$pink:rgb(216, 4, 121);
$green: rgb(63, 157, 26); 



